<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.CurveDelivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".ui.createPassword.Faqs"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>
        <activity android:name=".ui.createPassword.Aboutus"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>

        <activity android:name=".ui.createPassword.PrivacyPolicy"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>

        <activity android:name=".ui.createPassword.TermsCondition"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>

        <activity
            android:name=".ui.login.PdfRenderActivity"
            android:exported="false"
            android:label="@string/title_activity_pdf_render"
            android:theme="@style/Theme.CurveDelivery" />

        <activity android:name=".ui.createPassword.ChangePassScreen"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>

        <activity android:name=".ui.createPassword.ContactUs"
            android:exported="false"
            android:theme="@style/Theme.CurveDelivery"/>
        <activity
            android:name=".ui.underReview.UnderReview"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.createPassword.CreatePassScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.temp.Temp"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.SignupScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.docReview.DocReviewScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.SideMenuScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.OrderHistoryView"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.ViewProfile"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.OrderHistoryDetailsSide"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.MyEarning"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity
            android:name=".ui.home.RateAndReview"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>
        <activity
            android:name=".ui.orderhistory.OrderDetails"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity android:name=".ui.orderhistory.NavigateTrack"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.CurveDelivery"></activity>

        <activity android:name=".ui.chatscreenss.ChatScreenS"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.CurveDelivery"></activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity
            android:name=".ui.home.LocationSearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.otp.OTPScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.resetPassword.ResetScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.CurrentLocationActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB7d1vfxWa_ZYhWBFIZvQzFpSlq5aR9-E0" />
        <activity
            android:name=".ui.splash.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CurveDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".util.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>


</manifest>